In [3]:
import sys 
print(sys.path)

['/Users/jocelyn/Github/data-analysis-sandbox', '/usr/local/Cellar/python@3.9/3.9.1_6/Frameworks/Python.framework/Versions/3.9/lib/python39.zip', '/usr/local/Cellar/python@3.9/3.9.1_6/Frameworks/Python.framework/Versions/3.9/lib/python3.9', '/usr/local/Cellar/python@3.9/3.9.1_6/Frameworks/Python.framework/Versions/3.9/lib/python3.9/lib-dynload', '', '/usr/local/Cellar/jupyterlab/3.0.6/libexec/lib/python3.9/site-packages', '/usr/local/Cellar/jupyterlab/3.0.6/libexec/lib/python3.9/site-packages/IPython/extensions', '/Users/jocelyn/.ipython']

In [ ]:
import pandas as pd

In [43]:
poopCounts = ["Monday", "Tuesday", "Wednesday", "Thursday"]

days = ["Monday", "Tuesday", "Wednesday", "Thursday"]

myDataframe = pd.DataFrame(data=[[1,23,4,5]], index=[0], columns=days)
myDataframe.loc[myDataframe.index.max()+1] = [1,2,3,4]
myDataframe.loc[myDataframe.index.max()+1] = [5,2,3,4]
myDataframe.head()

   Monday  Tuesday  Wednesday  Thursday
0       1       23          4         5
1       1        2          3         4
2       5        2          3         4